bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
TiSupport.Shared/Class1.cs

.vs/ProjectEvaluation/

.vs/TiSupport/FileContentIndex/

.vs/TiSupport/DesignTimeBuild/.dtbcache.v2

.vs/TiSupport/v17/.futdcache.v2

.vs/TiSupport/v17/.suo

.vs/TiSupport/v17/DocumentLayout.json
